/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */

#demo {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#demo h1 {
  display: grid;
  place-items: center;
}

#card-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#cardName {
  background: red;
  background: -webkit-linear-gradient(
    left,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background: -o-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background: -moz-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background: linear-gradient(
    to right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
}

/* background:-webkit-background-clip: text; */
/* -webkit-text-fill-color: transparent; */
/* font-size: 20vw; */

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.randombuttonDrink {
z-index: 1;
color: blue;
size: 100px;
}
.random-drink-container{
  width: 50px;
  height: 50px;
}
#randomButtonImg{
  height: 200px;
}
#randombuttonImgParent {
  display: grid;
  position: absolute;
  align-items: baseline;
  font-size: medium;
}
.close-button {
  color: red;
  font-size: 30px;
  text-shadow: red;
  font-weight: 10000%;
  font-style: unset;
}
#randomDrinkTextId {
  color: greenyellow;
  font-size: 25px;
  padding: 0%;
  margin: 0%;
}
#ThankGoodness4Tommy {
  font-size: medium;
  text-shadow: hotpink;
  padding: 0%;
  margin: 0%;
}